<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560961406211-35co2i9s0jcb4rsgdvmbglnqp0742385.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560961406211-35co2i9s0jcb4rsgdvmbglnqp0742385</string>
	<key>API_KEY</key>
	<string>AIzaSyCvGpS7qNvcdJzQi659kIarF6GESiaPaHs</string>
	<key>GCM_SENDER_ID</key>
	<string>560961406211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bananix</string>
	<key>PROJECT_ID</key>
	<string>fixipe-bfa00</string>
	<key>STORAGE_BUCKET</key>
	<string>fixipe-bfa00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:560961406211:ios:d5a790e1d97771252e1536</string>
</dict>
</plist>
